<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero" style="background-image:url({{ page.heroimg }})">
      <div class="headline">
              <h1>Past {{ page.title }}</h1>
	    </div>
    </div>

    <div class="page-content {{ page.layout }}">
      <div class="wrapper">

			<a href="https://twitter.com/ErinWillisWins" target="_blank">
			<div class="col3">
				<img src="/assets/fellows/erin.jpg">
				<p>Erin Willis</p>
				<label>@ErinWillisWins</label>
			</div>
			</a>
			<a href="https://twitter.com/gerardopherrera" target="_blank">
			<div class="col3">
				<img src="/assets/fellows/gerald.jpg">
				<p>Gerardo Perez</p>
				<label>@gerardopherrera</label>
			</div>
			</a>
			<a href="https://twitter.com/estefiimar" target="_blank">
			<div class="col3">
				<img src="/assets/fellows/estefania.jpg">
				<p>Estefania Marquez</p>
				<label>@estefiimar</label>
			</div>
			</a>


			<a href="https://twitter.com/grace_boda" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/grace.jpg">
				<p>Grace Svoboda</p>
				<label>@grace_boda</label>
			</div>
			</a>
			<a href="https://twitter.com/angelamckaskle" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/angela.jpg">
				<p>Angela McKaskle</p>
				<label>@angelamckaskle</label>
			</div>
			</a>
			<a href="https://twitter.com/_glynnjordan" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/glynn.jpg">
				<p>Glynn Jordan</p>
				<label>@_glynnjordan</label>
			</div>
			</a>
			<a href="https://twitter.com/ATXGastronomist" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/kathryn.jpg">
				<p>Kathryn Hutchison</p>
				<label>@ATXGastronomist</label>
			</div>
			</a>
			<a href="https://twitter.com/LeahG2983" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/leah.jpg">
				<p>Leah Gernetzke</p>
				<label>@LeahG2983</label>
			</div>
			</a>
			<a href="https://twitter.com/LAlexFrank" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/alex.jpg">
				<p>Alex Frank</p>
				<label>@LAlexFrank</label>
			</div>
			</a>
			<a href="https://twitter.com/CarolynEmbry" target="_blank">
			<div class="col4">
				<img src="/assets/fellows/carolyn.jpg">
				<p>Carolyn Embry</p>
				<label>@CarolynEmbry</label>
			</div>
			</a>
			<div class="col4">
				<img src="/assets/fellows/jennifer.jpg">
				<p>Jennifer Barajas</p>
			</div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
