<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero">
      <div class="video_wrapper">
	            <video id="wfloop" loop="" mute="" autoplay="" style="width: 100%; display: block; pointer-events: none; opacity: 1;" webkit-playsinline="">
	            <source src="/assets/wfloop.mp4" type="video/mp4">
	            <source src="/assets/wfloop.webm" type="video/ogv">
              </video>
	    </div>
      <div class="headline">
              <span>Empowering local changemakers to</span>
              <h1>design. code. impact.</h1>
      </div>
    </div>

    <div class="mission-content">
      <div class="wrapper">
        <div class="col2">
          <p>Making Austin better with the web through a community-run, summer learning experience with expert training, one-on-one mentors, and nonprofit partners.</p>
        </div>
        <div class="col2">
          <img src="/assets/render.png">
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
